.search-page__loading-indicator {
  display: block;
  text-align: center;
  margin-top: 30px;
  font-size: 2rem;
  font-weight: 700;
}

.search-page__error {
  margin: 30px auto;
  width: 60%;
  text-align: center;
  font-size: 1.25rem;
}
